@charset "UTF-8";

*{
    margin: 0px;
}
.universo{
    height: 100vh;
    background-color: black;
    background-image: url(imagens/espaco.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.astronauta{
    height: 100vh;
    background-image: url(imagens/astronauta.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 30%;
}